.c-header {
    @include flex;
    justify-content: space-between;
    align-items: center;
    background-color:$dupree-blue;
    font-size:rem-calc(13);

    &__right {
        @include flex;
        align-items: center;
    }

        &__brand {
            line-height:rem-calc(48);
            color:$white;
            display: block;
            text-transform: uppercase;
            background-color:$dupree-red;
            padding:0 1.5rem;
            
            span {
                font-weight:bold;
            }

            &:hover {
                color:$white;
            }
        }

        &__nav {
            margin-right:1.5rem;
        }

            &__nav-item {
                margin-left:1.5rem;
                color:$white;
                font-weight:bold;
                position: relative;
                line-height: rem-calc(48);
                display:inline-block;
                transition:all 0.2s ease-in-out;
                
                &:after {
                    content:'';
                    position: absolute;
                    width:0%;
                    height:rem-calc(2);
                    background-color:$dupree-red;
                    bottom:0;
                    left: 0;
                    transition:all 0.2s ease-in-out;
                }

                &:hover {
                    color:$white;
                    &:after {
                        width:100%;  
                    }
                }
            }

        &__button,
        &__toggle {
            background-color:$dupree-red;
            line-height:2rem;
            display: block;
            border-radius:2px;
            padding:0 1.5rem;
            color:$white;
            margin-right:1.5rem;
            transition:all 0.2s ease-in-out;
            
            &:hover {
                color:$white;
                background-color: darken($dupree-red,10%);
            }
        }

        &__nav,
        &__button {
            @include show-for(large);
        }

        &__toggle {
            @include hide-for(large);
        }
}