.c-location-header {
    @include flex;
    
    &__main {width:65%;}
    &__side {width:35%;}
    
    
    
    // Main area
    &__main {
        @include flex;
        @include flex-align(left, bottom);   
        position: relative;
       
        &:after {
            content:'';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color:rgba($black,0.8);
        }
    }

        &__content {
            position: relative;
            z-index:1;
            padding:1.5rem;
            color:$white;
        }

            &__title {
                font-weight:bold;
            }

            &__subtitle {
                font-size:rem-calc(16);
            }

    // Side area
    &__side {

    }

        &__quote {
            background-color:$dupree-blue;
            color:$white;
            font-weight:bold;
            padding:1.5rem;
        }
}